@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Slab&display=swap');

/* Setting the box-size border-box */

* {
        margin: 0;
        padding: 0;
	box-sizing: border-box;
}

/* Styling the body section */

body {
	font-family: 'PT Serif', serif;
	font-family: 'Roboto Slab', serif;
}
.brand-color{
	color: #FF900E;
	font-weight: bold;
}
.banner{
	background-color: rgba(255, 144, 14, 0.1);;
}
.title-section{
	width: 50%;
	margin: 0 auto;
}

/* Banner Part Css */
.headline{
	text-align: center;
	font-size: 64px;
}
.btn{
	text-align: center;
	margin-top: 10px;
}
.brand-btn{
	padding: 12px 20px;
	background-color: #FF900E;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	border: 2px solid #FF900E;
	color: white;
	cursor: pointer;
	margin: 10px 0;
}

.banner-img{
	width: 80%;
	margin: 20px auto;
	padding: 20px 0;
}

.banner-img img{
	width: 100%;
}

/* Quick Section Features CSS */
.feature-text{
	margin-left: 20px;
}
.features{
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}
.quick{
	color: #727272;
	margin: 10px 0;
}
.of{
	color: #131313;
	font-weight: bold;
}

.feature-img{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.feature-img img{
	width: 330px;
	padding: 12px;
}

/* Feature Details Section: */
.feature-details{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}
.feature-details{
	width: 80%;
	margin: 60px auto;
}
.feature-headline{
	font-size: 45px;
	font-weight: bold;
	border-left: 5px solid #FF900E;
	padding-left: 20px;
	margin-bottom: 20px;
}
.feature-text p{
	margin: 25px 0px;
}
.feature-des{
	padding: 20px 20px;
	box-shadow: 0 0 25px rgb(224, 221, 221);
	margin: 15px;
	border-radius: 5px;
}
.feature-details-img{
	display: flex;
	justify-content: center;
}
.feature-details-img img{
	width: 80%;
}

/* Media Query */
@media only screen and (max-width: 600px){
	.headline{
		text-align: center;
		font-size: 30px;
	}

	/* Feature Section */
	.features{
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
	}
	.feature-img{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
	}
	.feature-img img{
		width: 270px;
		padding: 12px;
	}

	/* Feature Details Section */
	.feature-details{
		grid-template-columns: repeat(1, 1fr);
	}
}